<mat-sidenav-container fullscreen>
  <mat-sidenav class="w-50" #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="/dashboard">Dashboard</a>
      <a mat-list-item (click)="authService.signOut()">Logout</a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Configuarions
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item (click)="sidenav.toggle()" routerLink="/configuration/fuel-config">Fuel</a>
        </mat-nav-list>
    </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <mat-toolbar color="primary">
        <button
          *ngIf="helperService.isMenuVisible$ | async"
          mat-icon-button
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>Mileage Calculator</span>
      </mat-toolbar>
    </p>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <div
      class="overlay"
      [style.height.px]="height"
      [style.width.px]="width"
      *ngIf="helperService.isLoading$ | async"
    >
      <mat-spinner></mat-spinner>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
