<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" [opened]="isSidenavOpen">
    <mat-nav-list (click)="toggleSidenav()">
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item (click)="authService.signOut()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <mat-toolbar color="primary">
        <button
          *ngIf="helperService.isMenuVisible$ | async"
          mat-icon-button
          (click)="toggleSidenav()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>Mileage Calculator</span>
      </mat-toolbar>
    </p>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <div
      class="overlay"
      [style.height.px]="height"
      [style.width.px]="width"
      *ngIf="helperService.isLoading$ | async"
    >
      <mat-spinner></mat-spinner>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
